*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins",sans-serif;
    background-color: #E3E6EB;
}
header{
    z-index: 1000;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    border-bottom: #999 solid 1px;
}

#upper{
    position: absolute;
    margin-top: -0.77%;
    width: 98%;
    margin-left: 0%;
    background-color: #A7A6A5 ;
    padding: 18px;
}
#upper li {
    
    list-style: none;
    display: inline-block;
    margin-left: 21%;
}
#upper li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    letter-spacing: 5px;
    position: relative;
}
#upper ul li a::after{
    color: lightcyan;
    transition: 0.5s;
    position: absolute;
    content: '';
    height: 3px;
    bottom: -8px;
    margin: 0 auto;
    left: -5px;
    right: 0;
    width: 75%;
    transform: translateY(10px);
 
}
#upper ul li a:hover{
    color: whitesmoke;
    transition: .5s;
}
#upper ul li a:hover::after{
    transform: translateY(-3px);
    width: 95%;
    background:whitesmoke;
    color: whitesmoke;
}

.logo{
 
  display: inline-block;
  cursor: pointer;
}
.logo img{
    margin-left: 10px;
    margin-top: 5px;
}
.menu{
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    position: absolute;
    top: 5%;
    left: 5%;
  
}
#searchBox input{
    margin-left:20px;
}
#searchBox{
    letter-spacing: 3px;
    margin-top: 25px;
    margin-left: 120px;
    width: 750px;
    height: 44px;
    border: 1px solid black ;
    font-size: 25px;
    font-weight: bold;
    padding-left: 45px;
    padding-top: 3px;
   
} 
i{
 position: absolute;
 left: 18%;
 top: 55%;
}
nav{
    display: inline-block;
    margin-left: 50%;
    font-size: 25px;
    position: absolute;
    top: 20%;
    right: 15%;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    padding: 15px;
   
}
nav ul li a{
    font-weight: 500;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -30px;
    border: 1px solid transparent;
}

nav ul li a::after{
    position: absolute;
    content: '';
    height: 4px;
    bottom: -2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    transform: translateY(10px);
    visibility: hidden;
    transition:.5s;
}
nav ul li a:hover::after{
    transform: translateY(-3px);
    width: 70%;
    background: #888;
    visibility: inherit;
}

.ul li ul{
    padding: 5px;
    position: absolute;
    width: 130px;
    background-color: #333;
    margin: 5px;
    right: -21%;
    top: 10%;
    border-radius: 5px;
    display: none;
}

.login li{
    list-style: none;
    display: inline-block;
    
}
#logIn{
    background-color: white;
    border: 3px solid #444;
    position: absolute;
    right: 9%;
    top: 31%;
    border-radius: 0;
    font-size: 20px;
    width: 85px;
    height: 47px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
#logIn:hover{
    background-color: #444;
    color: white;
    transition: 0.5s;
    
}
#signUp{
    cursor: pointer;
    color: white;
    background-color: #444;
    position: absolute;
    right: 3%;
    top: 31%;
    border: 3px solid transparent;
    border-radius: 0;
    font-size: 20px;
    padding: 5px;
    width: 95px;
    height: 47px;
    
    font-family: Arial, Helvetica, sans-serif;
}
#signUp:hover{
    
    color: white;
    background-color: black;
    transition: 0.5s;
   
}

#main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

#itemList{
    margin: auto;
  width: 80%;
  margin-left: 12%;
  margin-top: 3%;
}
.itemList1,.itemList2,.itemList3,.itemList4{
    width: 260px;
    background-color: white;
    padding: 20px;
    padding-top: 0;
    margin-left: 3%;
    list-style: none;
    display: inline-block;
    border: 2px solid rgb(219, 217, 217);  
}
.itemList1,.itemList2,.itemList3{
    padding-top: 25px;
}
#itemList img{
   
    margin-left: 7%;
}
.itemList4{
    padding-top: 25px;
}
.itemList4 .img{
    margin-top: 15%;

}
#itemList_1{
    margin: auto;
  width: 80%;
  margin-left: 12%;
  margin-top: 3%;
}
.itemList1_1,.itemList2_1,.itemList3_1,.itemList4_1{
    width: 260px;
    background-color: white;
    padding: 20px;
    padding-top: 0;
    margin-left: 3%;
    list-style: none;
    display: inline-block;
    border: 2px solid rgb(219, 217, 217);  
}
.itemList1_1,.itemList2_1,.itemList3_1{
    padding-top: 25px;
}
#itemList_1 img{
   
    margin-left: 7%;
}
.itemList4_1{
    padding-top: 25px;
}
.itemList4_1 .img{
    margin-top: 15%;

}
#itemList_2{
    margin: auto;
  width: 80%;
  margin-left: 12%;
  margin-top: 3%;
}
.itemList1_2,.itemList2_2,.itemList3_2,.itemList4_2{
    width: 260px;
    background-color: white;
    padding: 20px;
    padding-top: 0;
    margin-left: 3%;
    list-style: none;
    display: inline-block;
    border: 2px solid rgb(219, 217, 217);  
}
.itemList1_2,.itemList2_2,.itemList3_2{
    padding-top: 25px;
}
#itemList_2 img{
   
    margin-left: 7%;
}
.itemList4_2{
    padding-top: 25px;
}
.itemList4_2 .img{
    margin-top: 15%;

}
a {
    text-decoration: none;
    color: black;
}
.foot img{
    bottom: 10px;
    position: relative;
    right: 45px;
}
.foot{
    margin-left: 16%;
    position: relative;
    display:inline ;
    
}
#canon{
    position: relative ;
    bottom: 25px;
}
.footer{
    margin-top: 10%;
    position: relative;
    height: 200px;
    background: gray;
}
h2{
    font-size: 30px;
    letter-spacing: 5px;
    color: whitesmoke;
    font-family: Humnst777 Blk BT;
    text-align: center;
    padding-top: 35px;
}
.footer ul{
    align-self: center;
    justify-content: center;
    display: flex; 
    width: 100%;
}
.footer ul li{
    padding-top: 20px;
   padding-left: 50px;
   padding-right: 50px;
   list-style: none;

}
.footer01{
    width: 100%;
}
.footer01 h3{
    display: flex;
    align-self: center;
    justify-content: center;
}
#aba {
    position: relative;
    top: -60%;
    margin-left: 150%;
    left: 90%;
}
#link{
    position: relative;
    margin-left: 500%;
}